<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

  <suite name="Suite1">
  <test name="FirstTest" >
    <classes>
       <class name="com.srccodes.example.UserServiceTest" />
    </classes>
  </test>
  <test name="SecondTest" >
    <classes>
       <class name="com.srccodes.example.CalculatorTest" />
    </classes>
  </test>
  <test name="ThirdTest" >
    <classes>
       <class name="com.srccodes.example.NameParserTest" />
    </classes>
  </test>
</suite>